* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: wheat;
}

.wrap {
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 70%;
  padding: 15px;
  max-width: 500px;
}
.logo {
  cursor: pointer;
  transition: transform 0.2s ease;
}
.btn-Container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 8px;
  gap: 0 10px;
}
.btn {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.logo:hover,
.btn:hover {
  transform: scale(1.1);
}
.imgBtn {
  width: 50px;
  height: 50px;
  /*  margin: 0 5px; */
}
.colorBtn {
  font-size: 15px;
  padding: 8px;
  border-radius: 8px;
  /*  margin: 0 5px; */
}
.blueBtn {
  background-color: var(--color-blue);
}
.yellowBtn {
  background-color: var(--color-yellow);
}
.pinkBtn {
  background-color: var(--color-pink);
}
.items {
  width: 100%;
  height: 80%;
  list-style: none;
  border-radius: 5px;
  overflow-y: scroll;
}
.items::-webkit-scrollbar {
  display: none;
}
.item {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  padding: 8px;
  margin-bottom: 8px;
}
.item__thumbnail {
  height: 42px;
  margin-right: 15px;
}
.item__description {
  font-size: 18px;
}
